name: Build LaTeX Resume
on:
  push:
    paths:
      - '**.tex'

permissions: write-all

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex  # 5단계에서 만든 파일명과 같아야 함

      - name: Upload PDF to Release
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf

      - name: Push PDF back to repo
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git fetch
          git pull
          git add main.pdf
          git commit -m "Auto-compiled PDF" || echo "No changes to commit"
          git push